@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* typography */

.h1 {
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;

}

.h2 {
    font-family: Rubik, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
}

.p {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.50;
}

.em {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
}

.small {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.50;
}

/* colors */
.color-primary {
    color: #50ad9c;
}

.color-text {
    color: #1A1A1A;
}

.color-text-muted {
    color: #808080;
}

.color-gray-light {
    color: #eee;
}

.bg-color-primary {
    color: #50ad9c;
}

.bg-color-text {
    color: #1A1A1A;
}

.bg-color-text-muted {
    color: #808080;
}

.bg-color-gray-light {
    color: #eee;
}

/* link styles */

.active {
    color: #50ad9c;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

/* header navigation styles */

.logo {
    height: 64px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-bottom: 80px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 80px;
}


.footer {
    text-align: center;
    margin-top: 80px;
}

.article img {
    display: block;
    width: 100%;
    aspect-ratio: 1120 / 630;
    object-fit: cover;
}
.feature-metadata {
    margin-top: 16px;
}

.feature-metadata-item:nth-child(n + 2)::before {
  content: "-";
  margin: 0 8px;
}

a.feature-metadata-item {
  font-weight: 400;
}

.article h1 {
    margin-top: 16px;
}

.wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 80px;
}

